<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="pc-web-server" logger="slf4j"/>
    <dubbo:provider connections="10"/>
    <!--zookeeper注册中心 -->
    <dubbo:registry protocol="zookeeper" address="${zookeeper.address}" client="curator"/>
    <!--使用multicast广播注册中心暴露服务地址 -->
    <dubbo:protocol name="dubbo" port="-1"/>
    <dubbo:reference  id="questionDubboService" version="2.2" interface="com.huatu.ztk.question.api.QuestionDubboService"/>
    <dubbo:reference  id="userDubboService" version="2.1" interface="com.huatu.ztk.user.dubbo.UserDubboService"/>
    <dubbo:reference  id="questionStrategyDubboService" version="2.1" interface="com.huatu.ztk.knowledge.api.QuestionStrategyDubboService"/>
    <dubbo:reference id="practiceCardDubboService" version="2.3"   interface="com.huatu.ztk.paper.api.PracticeCardDubboService"/>
    <dubbo:reference id="practiceDubboService"  version="2.2"  interface="com.huatu.ztk.paper.api.PracticeDubboService"/>


    <dubbo:reference version="2.0" id="practiceSummaryDubboService" timeout="5000" interface="com.huatu.ztk.report.dubbo.PracticeSummaryDubboService"/>
    <dubbo:reference version="2.0" id="powerSummaryDubboService" timeout="5000"  interface="com.huatu.ztk.report.dubbo.PowerSummaryDubboService" ></dubbo:reference>
    <dubbo:reference version="2.0" id="moduleSummaryDubboService" timeout="5000" interface="com.huatu.ztk.report.dubbo.ModuleSummaryDubboService" ></dubbo:reference>
    <dubbo:reference version="2.1" id="versionDubboService" interface="com.huatu.ztk.user.dubbo.VersionDubboService"/>

    <!--<dubbo:reference version="2.0" id="arenaPlayerDubboService" interface="com.huatu.ztk.arena.dubbo.ArenaPlayerDubboService"/>-->
    <!--<dubbo:reference version="2.0" id="arenaDubboService" interface="com.huatu.ztk.arena.dubbo.ArenaDubboService"/>-->
    <!--<dubbo:reference version="2.0" id="arenaUserSummaryDubboService" interface="com.huatu.ztk.arena.dubbo.ArenaUserSummaryDubboService"/>-->
    <dubbo:reference version="1.0" id="subjectDubboService"  interface="com.huatu.ztk.knowledge.api.SubjectDubboService"/>

</beans>