page, body {
    color: #6a6a77;
    font-size: 30px;
}

.tips {
    width: 700rpx;
    margin: 0px auto 37px;
}

.cell {
    float: left;
    width: 160px;
    text-align: center;
}

.ml100 {
    margin-left: 100px;
}

.w100 {
    width: 100px;
}

.moreButton {
    font-size: 24px;
    float: right;
    margin-right: 34px;
    color: #6190e8;
}