page, body {
    color: #6a6a77;
    font-size: 30px;
}

.container {
    margin-top: 77px;    
}

.cell-label {
    float: left;
    width: 147px;
    text-align: center;
}

.cell {
    float: left;
    width: 240px;
    text-align: center;
}

.ml240 {
    margin-left: 147px;
}