<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatu.tiku.teacher.dao.paper.PaperActivitySubjectMapper">

    <select id="countGroupBySubject" resultType="java.util.Map">
        select subject_id as subjectId,count(1) as total  from paper_activity_subject where status =  1 GROUP by subject_id
    </select>
</mapper>