<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatu.tiku.teacher.dao.paper.PaperEntityMapper">
    <select id="countGroupBySubject" resultType="java.util.Map">
        select subject_id as subjectId,count(1) as total from paper_entity where status = 1 group BY  subject_id
    </select>

</mapper>